/*
  PORTFOLIO
  */

  .card-link:hover {
    font-weight: bold;
  }

  .lightbox {
    padding-top: 5cm;
    z-index: 200000000000000000000;
  }
  
  .work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
  }

  .work-box:hover {
    cursor: pointer;
  }
  
  .work-box:hover .img-fluid {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  
  .work-img img {
    transition: all 1s;
  }
  
  .work-content {
    padding: 2rem 3% 1rem 4%;
  }
  
  .work-content .w-more {
    color: #4e4e4e;
    font-size: .8rem;
  }
  
  .w-category {
    color: #0078ff;
  }

  .card-link {
    color: #0078ff;
  }
  
  .work-content .w-like {
    font-size: 2.5rem;
    color: #0078ff;
    float: right;
  }
  
  .work-content .w-like a {
    color: #0078ff;
  }
  
  .work-content .w-like .num-like {
    font-size: .7rem;
  }
  
  .w-title {
    font-size: 1.2rem;
    color: #1e1e1e;
  }
  
  /*
  TESTIMONIALS
  */
  
  .testimonials .owl-carousel .owl-item img {
    width: auto;
  }
  
  .testimonial-box {
    color: #fff;
    text-align: center;
  }
  
  .testimonial-box .author-test {
    margin-top: 1rem;
  }
  
  .testimonial-box .author-test img {
    margin: 0 auto;
  }
  
  .testimonial-box .author {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
  }
  
  .testimonial-box .comit {
    font-size: 2rem;
    color: #0078ff;
    background-color: #fff;
    width: 52px;
    height: 52px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 1.6;
  }